@charset "UTF-8";

body {
    background-color: lightgray;
}

div {
    width: 100px;
    height: 100px;
    background-color: orange;
}

div > p {
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
div:hover {
    background-color: red;
    width: 500px;
    height: 500px;
    border-radius:35px;
    transition: 1s;
    cursor: grab;
}