@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

nav {
    display: flex;
    
}

main {
    display: flex;
    
}

aside {
    display: flex;
    
}

footer {
    display: flex;
    
}