@charset "UTF-8";



* {
    margin: 0;
    padding: 0;
}

main img, h1, p, a {
    align-self: center;
    
}

main h1 {
    color:  hsl(0, 0%, 95%);
    font-size: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main p {
    color:  hsla(0, 0%, 100%, 0.75);
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main a {
    text-decoration: none;
    background-color:  hsl(0, 0%, 95%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    border: 1px solid  hsl(0, 0%, 95%);
    box-shadow: 0px 1px 3px black;
    margin: auto;
    padding: 10px 20px;
    border-radius: 20px;
}

main a:hover {
    background: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: grab;
}

body {
    background-color: hsl(0, 0%, 95%);
}

main {
    display: flex;
    width: 60vw;
    height: 95vh;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.left {
    display: grid;
    grid-template-rows: .5fr .5fr 1fr 1fr;
    background-color:  hsl(31, 77%, 52%);
    padding: 20px 50px;
    height: 60vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.left a {
    color: hsl(31, 77%, 52%);
}

.center {
    display: grid;
    grid-template-rows: .5fr .5fr 1fr 1fr;
    background-color: hsl(184, 100%, 22%);
    padding: 20px 50px;
    height: 60vh;

}

.center a {
    color:  hsl(184, 100%, 22%);;
}

.left, .center, .right, a:hover {
    color: hsl(0, 0%, 95%);
}

.right a:hover {
    color: hsl(0, 0%, 95%);
}

.right {
    display: grid;
    grid-template-rows: .5fr .5fr 1fr 1fr;
    background-color:  hsl(179, 100%, 13%);
    padding: 20px 50px;
    height: 60vh;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right a {
    color: hsl(179, 100%, 13%);
}

footer p {
    text-align: center;
    font-size: 1.3em;
    color:  hsl(0, 0%, 7%);
}

footer a {
    text-decoration: none;
    color:  hsl(0, 0%, 7%);
    font-weight: bold;
}

footer a:hover {
    text-decoration: none;
    background-color: transparent;
    color:  hsl(0, 0%, 7%);
}


@media screen and (max-width: 1480px) {
    main { 
        display: block;
        width: 750px;
    }

    .left {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .right {
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }

}


@media screen and (max-width: 1000px) {
    main { 
        display: block;
        width: 400px;
    }

    .left {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .right {
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }

}
